@import "../../config";
@import "../../mixins";

@include component(layout) {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  &_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    @include alternative-scroll();
  }
  &_body {
    flex-grow: 1;
  }
  &_footer {
    margin-top: 80px;
  }
};