@import "../../config";
@import "../../mixins";

@include component(locale-item) {
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  svg {
    margin-right: $--m-popover-list-item-icon-gap;
  }
}

@include component(locale-reference) {
  min-height: 24px;
  outline: none;
  user-select: none;
  svg {
    margin-right: 8px;
  }
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 14px;
    margin-top: -2px;
    transition: transform 0.15s ease-in-out;
  }
  &.-opened {
    &::after {
      transform: rotate(180deg);
    }
  }
}