@import "../../config";
@import "../../mixins";

@include component(userpic-wrp) {};

@include component(userpic) {
  display: flex;
  align-items: center;
  &_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $--m-userpic-size;
    height: $--m-userpic-size;
    border-radius: $--m-userpic-border-radius;
    background-color: $--m-userpic-color-background;
    background-position: center;
    color: $--m-userpic-color-text;
    font-size: $--m-userpic-font-size;
    font-weight: 500;
    user-select: none;
    background-size: cover;
  }
  &_popover {
    margin-left: $--m-userpic-icon-gap;
    & > *:first-child {
      display: flex !important;
      align-items: center;
    }
  }
  &_caret {
    cursor: pointer;
    fill: $--m-color-secondary;
    opacity: 0.65;
    width: $--m-userpic-icon-size;
    height: $--m-userpic-icon-size;
    transition: opacity 0.2s;
    margin-left: 8px;
    &:hover {
      opacity: 1;
    }
  }
};