@import './config';

$sizes: "xs", "sm", "md", "lg";

$indicators: "info", "success", "warning", "danger";
$indicatorColors: (
  "info": $--m-color-info,
  "success": $--m-color-success,
  "warning": $--m-color-warning,
  "danger": $--m-color-danger,
);

@mixin component($name) {
  $className: $namespace+'-'+$name !global;
  .#{$className} {
    @content;
  }
}

@mixin indicator($attribute) {
  @each $indicator in $indicators {
    &.-#{$indicator} {
      #{$attribute}: map-get($indicatorColors, $indicator);
    }
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
  flex-shrink: 0;
}